.DS_Store
node_modules
/dist
/wechat.db
/wechat.db-shm
/wechat.db-wal
/upload
/public
/export

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*
